*{
  background-color: #F5F1F1;
}

/* barra de navegação */
.adm-navbar {
  background: #0A4551;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.adm-logo-principal {
  width: 110px;
  height: 40px;
  display: inline-block;
  background-color: white;
  -webkit-mask: url('../assets/logo.svg') no-repeat center / contain;
  mask: url('../assets/logo.svg') no-repeat center / contain;
  margin-right: auto;
}

.adm-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #00B4D8;
  border: 0;
  padding: 10px 50px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background 0.2s, transform 0.1s;
}

.adm-btn img.admin-icon {
  width: 20px;
  height: 20px;
}

.adm-btn:hover {
  background: #0190ac;
}

/* body da página */
.adm-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

/* card */
.adm-card {
  background: #0A4551;
  border-radius: 10px;
  padding: 20px 30px;
  width: 50%;
  max-width: 1000px;
  min-width: 500px;
  min-height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.349);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* cabeçalho do card */
.adm-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.adm-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}

.adm-subtitle {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 1000px;
  min-width: 500px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.adm-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -20px;
  background: #0A4551;
}

.adm-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: white;
  -webkit-mask: url('../assets/logo-icone.svg') no-repeat center / contain;
  mask: url('../assets/logo-icone.svg') no-repeat center / contain;
  margin-right: 10px;
}

.adm-title {
  font-weight: bold;
  font-size: 22px;
  background: #0A4551;
  color: #fff;
}

/* informações */
.adm-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-left: 20px;
  background: #0A4551;
}

.adm-client {
  display: flex;
  flex-direction: column;
  background: #0A4551;
 
}

.adm-password,
.adm-hour,
.adm-id,
.adm-sector,
.adm-type{
  background: #0A4551;
}

.adm-client-name,
.adm-password-value,
.adm-hour-value,
.adm-id-value,
.adm-sector-value,
.adm-type-value {
  font-weight: bold;
  font-size: 20px;
  background: #0A4551;
  color: #fff;
}

.adm-client-label,
.adm-password-label,
.adm-hour-label,
.adm-id-label,
.adm-sector-label,
.adm-type-label {
  font-size: 14px;
  color: #fff;
  background: #0A4551;
  
}

/* valores */
.adm-password-value,
.adm-hour-value,
.adm-id-value,
.adm-sector-value,
.adm-type-value {
  font-weight: bold;
  display: block;
  background: #0A4551;
}

.adm-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

/* container geral dos botões no fim */
.adm-bottom-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  max-width: 1000px;
  min-width: 500px;
  margin: 20px auto 12px;
  padding: 0 20px;
}

/* grupo da esquerda */
.adm-left-actions {
  display: flex;
  color: #fff;
  gap: 12px;
}

/* botão vermelho */
.adm-next-btn {
  background: #ff070e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.adm-next-btn:hover {
  background: #cc0000;
}

/* botão verde */
.adm-attend-btn {
  background: #0bda23;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.adm-attend-btn:hover {
  background: #009900;
}

/* botão finalizar */
.adm-finish-btn {
  align-self: flex-end;
  background: #00B4D8;
  border: none;
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.adm-finish-btn:hover {
  background: #0190ac;
}

/* rodapé */
.footer {
  background: #0A4551;
  padding: 10px;
}