/* barra de navegação */
.dados-navbar {
  background: #bfbfbf;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dados-admin-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #e6e6e6;
  border: 0;
  padding: 10px 26px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background 0.2s, transform 0.1s;
}

.dados-admin-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: black;
  -webkit-mask: url('../assets/crown.svg') no-repeat center / contain;
  mask: url('../assets/crown.svg') no-repeat center / contain;
}

.dados-admin-btn:hover {
  background: #d9d9d9;
}

/* body da página */
.dados-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dados-main {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/* formulário */
.dados-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 900px;
}

/* grupo de inputs */
.dados-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-align: left;
  font-size: 16px;
}

.dados-form-group label {
  width: 150px;
  font-weight: bold;
}

.dados-form-group input,
.dados-form-group select {
  flex: 1;
  padding: 10px;
  border: 0;
  border-radius: 6px;
  font-size: 14px;
  background-color: #d9d9d9;
}

.dados-form-group input:focus,
.dados-form-group select:focus {
  outline: none;
  border-color: #999;
  box-shadow: none;
}

.dados-form-group input::placeholder,
.dados-form-group select::placeholder {
  color: #6b6b6b;
  opacity: 1;
}

/* setor */
.dados-setor-label {
  margin-top: 2vh;
  font-weight: bold;
  text-align: left;
}

.dados-setores {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.dados-setor-btn {
  background: #e6e6e6;
  border: 0;
  padding: 20px 45px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349);
  transition: background 0.2s, transform 0.1s;
}

.dados-setor-btn:hover {
  background: #d9d9d9;
}

/* botão gerar senha */
.dados-gerar-btn {
  margin-top: 15vh;
  align-self: flex-end;
  background: #bfbfbf;
  border: 0;
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.2s;
}

.dados-gerar-btn:hover {
  background: #a6a6a6;
}
