/* barra de navegação */
.ticket-navbar {
  background: #bfbfbf;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ticket-logo-principal {
  width: 110px;
  height: 40px;
  display: inline-block;
  background-color: black;
  -webkit-mask: url('../assets/logo.svg') no-repeat center / contain;
  mask: url('../assets/logo.svg') no-repeat center / contain;
  margin-right: auto;
}

.ticket-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #e6e6e6;
  border: 0;
  padding: 10px 26px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background 0.2s, transform 0.1s;
}

.ticket-admin-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: black;
  -webkit-mask: url('../assets/crown.svg') no-repeat center / contain;
  mask: url('../assets/crown.svg') no-repeat center / contain;
}

.ticket-btn:hover {
  background: #d9d9d9;
}

/* body da página */
.ticket-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.ticket-main {
  position: relative;
}

.ticket-back {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 26px solid #bfbfbf;
  cursor: pointer;
  transition: border-right-color 0.2s;
}

.ticket-back:hover {
  border-right-color: #555;
}

/* card */
.ticket-card {
  background: #e6e6e6;
  border-radius: 10px;
  padding: 20px 30px;
  width: 50%;
  max-width: 1000px;
  min-width: 500px;
  min-height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.349);
  justify-content: space-between;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* cabeçalho do card */
.ticket-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ticket-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ticket-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -20px;
}

.ticket-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: black;
  -webkit-mask: url('../assets/logo-icone.svg') no-repeat center / contain;
  mask: url('../assets/logo-icone.svg') no-repeat center / contain;
  margin-right: 10px;
}

.ticket-title {
  font-weight: bold;
  font-size: 22px;
}

/* informações */
.ticket-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-left: 20px;
}

.ticket-client {
  display: flex;
  flex-direction: column;
}

.ticket-client-name,
.ticket-password-value,
.ticket-hour-value,
.ticket-id-value,
.ticket-sector-value,
.adm-type-value {
  font-weight: bold;
  font-size: 20px;
}
.ticket-client-label,
.ticket-password-label,
.ticket-hour-label,
.ticket-id-label,
.ticket-sector-label,
.ticket-type-label {
  font-size: 14px;
  color: #444;
}

/* valores */
.ticket-password-value,
.ticket-hour-value,
.ticket-id-value,
.ticket-sector-value,
.ticket-type-value {
  font-weight: bold;
  display: block;
}

/* botão finalizar */
.ticket-finish-btn {
  margin-top: 20px;
  align-self: flex-end;
  background: #bfbfbf;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.ticket-finish-btn:hover {
  background: #999;
}

/* rodapé */
.footer {
  background: #bfbfbf;
  padding: 10px;
}
